# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
venv312/

# Environment
.env

# Logs
logs/*.log

# VS Code
.vscode/

# PyCharm
.idea/

# OS Files
.DS_Store
Thumbs.db

# Build
dist/
build/
*.egg-info/